<div class="primary_container" style="margin-bottom:50px;">
    {%- if site.posts.size > 0 -%}
    <ul class="post-list">
        {% for post in site.posts %}
        <!-- Use this when you wish to show tag under post title -->
        <!-- {% if post.tags.size > 0 %}
          Tag{% if post.tags.size > 1 %}s{% endif %}:
          {{ post.tags | sort | join: ", " }}
        {% endif %} -->
        {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
        {% if forloop.first %}
        <h2 id="{{ this_year }}-ref" class="post-year">{{this_year}}</h2>
        <ul>
            {% endif %}
            {% if post.categories contains 'coding' %}
            
            <li>
                {%- assign date_format = "%b %d" | default: "%b %-d, %Y" -%}
                <span class="post-date">
                    {{ post.date | date: date_format }}
                </span>
                <a class="black-link post-link-layout" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </li>
            {% endif %}
            {% if forloop.last %}
        </ul>
        {% else %}
        {% if this_year != next_year %}
    </ul>
    <h2 id="{{ next_year }}-ref" class="post-year">{{next_year}}</h2>
    <ul>
        {% endif %}
        {% endif %}
        {% endfor %}
    </ul>
    {%- endif -%}
</div>