
<div style="min-height: 500px;background-color: #000; width:100%">
    <div class="primary_container">
        <div style="flex: 60%; ">
            <p style="font-family:Montserrat; color:#fff; font-weight:700; margin-top: 50px;">ABHI GUPTA</p>
        </div>
        <div class="hide_mobile" style="flex: 20%;">
            <p style="font-family:Montserrat; color:#888; font-weight:700; margin-top: 50px;">Categories</p>
             <p><a href="{{ site.baseurl }}/categories/coding"  style="color:#ddd; font-size: 16px;">Coding</a></p>
            <p><a href="{{ site.baseurl }}/categories/presentation"  style="color:#ddd;font-size: 16px;">Presentation</a></p>
            <p><a href="{{ site.baseurl }}/categories/productivity"  style="color:#ddd;font-size: 16px;">Productivity</a></p>
        </div>
        <div style="flex: 20%; ">
            <p style="font-family:Montserrat; color:#888; font-weight:700; margin-top: 50px;">Links</p>
           
            <p><a href="https://twitter.com/abhiguptaio"  style="color:#ddd;font-size: 16px;">Twitter</a></p>
            <p><a href="https://www.youtube.com/channel/UCpj8oznjjLwVe5KHOGNrvnQ" style="color:#ddd;font-size: 16px;">YouTube</a></p>

             <p><a href="https://github.com/iitrabhi" style="color:#ddd;font-size: 16px;">GitHub</a></p>
             <p><a href="https://www.linkedin.com/in/abhiguptaio/"  style="color:#ddd;font-size: 16px;">LinkedIn</a></p>

            <p><a href="https://scholar.google.com/citations?user=UfWvIkEAAAAJ"  style="color:#ddd;font-size: 16px;">Google Scholar</a></p>
            <p><a href="https://www.researchgate.net/profile/Abhinav-Gupta-38"  style="color:#ddd;font-size: 16px;">Research Gate</a></p>
            
        </div>
    </div>
</div>
