{% for researcher in site.home %}
{% for about in site.about %}
<div class="primary-container hero">
    <div class="secondary-container">
        <div class="description-container">
            <div class="description-content">
                <p class="heading">Hi, I am {{ researcher.name }}</p>
                <p class="heading bold"><strong>{{ researcher.intro_role }}</strong></p>
                <p class="para">{{ about.para }}</p>

                <div style="margin-top:20px">
                    <ul class="social-media-list">
                        {% if about.linkedin %}<li><a class="black-link" href="{{ about.linkedin }}" target="_blank">[LinkedIn]</a></li>{% endif %}
                        {% if about.twitter %}<li><a class="black-link" href="{{ about.twitter }}" target="_blank">[Twitter]</a></li>{% endif %}
                        {% if about.github %}<li><a class="black-link" href="{{ about.github }}" target="_blank">[Github]</a></li>{% endif %}
                        {% if about.youtube %}<li><a class="black-link" href="{{ about.youtube }}" target="_blank">[YouTube]</a></li>{% endif %}
                        {% if about.scholar %}<li><a class="black-link" href="{{ about.scholar }}" target="_blank">[Scholar]</a></li>{% endif %}
                        {% if about.rg %}<li><a class="black-link" href="{{ about.rg }}" target="_blank">[RG]</a></li>{% endif %}
                        <li><p>👋</p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="svg-container">
            <div>
                <object class="abhi-icon" data="{{ site.baseurl }}/assets/svg/abhi.svg" width="230" style="pointer-events: none;"></object>
            </div>
        </div>
    </div>
</div>
{% endfor %}


 {% endfor %}