{% for researcher in site.home %}
 <div class="primary-container">
        <div class="secondary-container " >
                <div class="notion-content">
                    <h2 ><strong>{{researcher.notion_intro}}</strong></h2>
                    <p >{{researcher.notion_paragraph}} </p>
                    <a class="button button-hello" href="{{researcher.gumroad_link}}" target="_blank" title="Say Hello!">Get it for free here.</a>
                </div>
                <div class="notion-image">
                    <object class="abhi-icon" data="{{ site.baseurl }}/assets/svg/abhi-notion.svg" width="100%" style="pointer-events: none;"></object>
                </div>
        </div>
    </div>

{% endfor %}